[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bsgof"]
	path = bsgof
	url = https://github.com/appliedstat/r
	subdir = bsgof
[submodule "rQCC"]
	path = rQCC
	url = https://github.com/appliedstat/r
	subdir = rQCC
[submodule "weibullness"]
	path = weibullness
	url = https://github.com/appliedstat/r
	subdir = weibullness
